.mainpage__info + .mainpage__info {
    padding-top: 0px;
}

.breadcrumbs .breadcrumbs__link:after {
    content: ">";
    position: absolute;
    right: -8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px;
}

.breadcrumbs li:last-child .breadcrumbs__link:after{
    display: none;
}

.breadcrumbs li {
    margin-right: 10px;
}

.category__item.blue{
    background: #3772FF;
}

.project-detail-a-page.green .projects__patern {
    background-color: #E6F7F3;
}

.project-detail-a-page.blue .projects__patern {
    background-color: #EBF1FF;
}

.post-type-archive-projects .project__info .info__container h2,
.page-template-tpl-projects .project__info .info__container h2{
    width: 100%;
    max-width: 740px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #07093F;
    margin: 0 auto;
    margin-bottom: 40px;
}

.post-type-archive-projects .project__info .info__container p,
.page-template-tpl-projects .project__info .info__container p{
    width: 100%;
    max-width: 740px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #07093F;
    margin: 0 auto;
    margin-bottom: 100px;
}

.pt-0 {
    padding-top: 0 !important;
}

.mt-0{
    margin-top: 0 !important;
}

.triedy__table .table__block .block__icon .icon {
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 600;
    line-height: 0;
    max-width: 100%;
    width: 100%;
    text-align: center;
}

.podstarnka-b__hero + .posibility__hero {
    padding-top: 22px;
}

.school-detail__info .info__block.right .info__item .item__image,
.posibility__info .info__block.right .info__item .item__icon {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.school-detail__info .info__block.right .info__item .item__text,
.posibility__info .info__block.right .info__item .item__text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-right: 0;
    margin-left: 90px;
}

.posibility__info .item__link {
    padding: 12px 16px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 50px;
    background-color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #07093F;
    -webkit-box-shadow: 0px 5px 20px rgb(7 9 63 / 12%);
    box-shadow: 0px 5px 20px rgb(7 9 63 / 12%);
    margin-top: 40px;
}

.grecaptcha-badge,
.wpcf7 > .screen-reader-response{
    display: none !important;
}

.school-detail__modal .form-item input.wpcf7-not-valid {
    border-color: #EB5757;
}

.school-detail__modal .form-item .wpcf7-not-valid-tip {
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(19px);
    transform: translateY(19px);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    -webkit-transition: .3s;
    transition: .3s;
    color: #EB5757;
    opacity: 1;
}

.wpcf7-response-output {
    margin-top: 30px;
    text-align: center;
    width: 100%;
    font-size: 14px;
}

.newspage__info .info__gallery { 
    margin-top: 40px;
}

.mb-0 { 
    margin-bottom: 0 !important;
}

.pb-0 { 
    padding-bottom: 0 !important;
}

.mainpage-marks .item__icon { 
    margin: 0 auto 40px auto;
}

.mainpage-marks .swiper__buttons {
    height: 32px;
    width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mainpage-marks .swiper-button {
    width: 32px;
    height: 32px;
    outline: none;
    border: none;
    background: none;
    background-color: #fff;
    border-radius: 12px;
    -webkit-filter: drop-shadow(0px 4.25px 8px rgba(7, 9, 63, 0.25));
    filter: drop-shadow(0px 4.25px 8px rgba(7, 9, 63, 0.25));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50%;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
    color: none;
}

.mainpage-marks .swiper-button-disabled {
    opacity: 1;
}

.mainpage-marks .swiper-button-prev {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}

.mainpage-marks .swiper-button-disabled .icon {
    opacity: .2;
}

.mainpage-marks .swiper-button-next {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}

.mainpage-marks .swiper-button .icon {
    width: 13px;
    height: 8px;
    fill: #07093F;
    -webkit-transition: .3s;
    transition: .3s;
}

.mainpage-marks .swiper-button-next .icon {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.mainpage-marks .swiper-button-prev .icon {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.mainpage-marks .swiper-button-prev:after, .mainpage-marks .swiper-button-next:after { 
    display: none;
}

.mainpage-marks .info__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.mainpage-marks .marks__title { 
    margin-bottom: 0px;
    margin-right: 40px;
}

.teachers-detail__content .teacher__other  .mail__value{
    font-weight: 400;
}

#cm{
    padding: 30px 40px; 
    border-radius: 16px;
}
 
.cc_div .c-bn { 
    padding: 12px 16px; 
    border-radius: 50px; 
}

#s-ttl,
#c-ttl { 
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px; 
    margin-bottom: 4px; 
}

#c-txt {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;  
}
  
.cc_div .b-bn .exp::before, .cc_div .act .b-bn .exp::before { 
    border-color: #2d4156;
}

.kalendar__info .item__text table, .single-events table{
    border: 0;
    border-spacing: 0;
}

.kalendar__info .item__text table tr td, .kalendar__info .item__text table tr th, .single-events table tr td, .single-events table tr th{
    padding: 4px 10px; 
    vertical-align: top;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}
 
.kalendar__info .item__text table tr td:first-child, .kalendar__info .item__text table tr th:first-child, .single-events  table tr td:first-child, .single-events table tr th:first-child{
    white-space: nowrap;
}

.swiper-container { 
    min-width: 100%;
}
 
.mainpage__social .social_icons{  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
}
 
.mainpage__social .social_icons .social__wrapp .social__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mainpage__social .social_icons .social__wrapp {
    margin-left: 20px;
}
 
.mainpage__social .social_icons .social__wrapp .item__icon {
    width: 44px;
    height: 44px;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 50%;
    background-color: #393A65;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 10px;
}
 
.mainpage__social .social_icons .social__wrapp .social__item span {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
 
.mainpage__social .social_icons .social__wrapp .item__icon:hover{
    background-color: #fff;
}

.mainpage__social .social_icons .social__wrapp .item__icon .icon {
    width: 20px;
    height: 20px;
    fill: #fff;
    -webkit-transition: .3s;
    transition: .3s;
}

.mainpage__social .social_icons .social__wrapp .item__icon:hover .icon{
    fill:#393A65;
}

.teacher__mail.teacher__other .mail__value{  
    line-height: 1.7;
}

.project-detail__info .info__container p,
.podstranka-b__blog p, 
.podstranka-c__blog p, 
.podstranka-d__blog p,
.newspage__info .info__block p,
iframe ~ p{
    opacity: 1 !important;
}

.header-hide__menu .menu__link.orange,
a.header__link.header__link-item.orange {
    background: #ffefd7; 
}

.header-hide__menu .menu__link.gren,
a.header__link.header__link-item.green {
    background: #ccede5
}

.header-hide__menu .menu__link.blue,
a.header__link.header__link-item.blue {
    background: #d7e3ff
} 

a.header__link.header__link-item.default,
a.header__link.header__link-item.blue,
a.header__link.header__link-item.green,
a.header__link.header__link-item.orange{ 
    -webkit-box-shadow: 0px 5px 20px rgb(7 9 63 / 12%);
    box-shadow: 0px 5px 20px rgb(7 9 63 / 12%);
    border-radius: 50px; 
    color: #07093F;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 12px 16px;
    display: inline-block;
    font-style: normal;  
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}


.header-hide__menu .menu__link.default,
.header-hide__menu .menu__link.blue,
.header-hide__menu .menu__link.green,
.header-hide__menu .menu__link.orange{ 
    -webkit-box-shadow: 0px 5px 20px rgb(7 9 63 / 12%);
    box-shadow: 0px 5px 20px rgb(7 9 63 / 12%);
    border-radius: 50px;
    color: #07093F;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 12px 16px;
    display: inline-block;
    width: auto;
    margin-left: -15px;
}

@media (max-width: 1024px) {
    .school-detail__info .info__block.right .info__item .item__text, .posibility__info .info__block.right .info__item .item__text {
        
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media (max-width: 1440px) {
    .mainpage__social .kalendar__container .info__row { 
        padding-right: 40px;
    }
}

@media (max-width: 850px) {
    .school-detail__info .info__block.right .info__item .item__text, .posibility__info .info__block.right .info__item .item__text {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 750px) {
    .mainpage__social .kalendar__container .info__row {
        flex-wrap: wrap;
    }

    .mainpage__social .social_icons{   
        margin-left: 0;
    }

    .mainpage__social .social_icons .social__wrapp {
        margin-left: 0px;
        margin-right: 20px;
        margin-top: 20px;
    }

}
 
.mainpage__info { 
    width: 100%; 
    display: inline-block;
}